@charset "utf-8";

/* Tabelle */

.tabelle {

}
.tabelle-breit {
			font-size:14px;
}

table {
			width:100%;
			empty-cells:show; 
			border-collapse: collapse;
}

tr {
			 vertical-align:top;
}

td {
			padding:4px 2px 4px 2px;
			border: 2px solid #000000;
			
}

td.item {
			width:40px;
}

.table_head {
			font-weight:900;
}

.zeile_1 {
			background:#1B1B1B;
			 vertical-align:top;
}

.zeile_2 {
			background:#0F0F0F;
			vertical-align:top;
}



table.tabelle-hinterlegt .zeile_1 {
			background:#383838;
			 vertical-align:top;
}

table.tabelle-hinterlegt .zeile_2 {
			background:#383838;
			vertical-align:top;
}

table.tabelle-hinterlegt .table_head {
			font-weight:900;
			background:#383838;
}
/* Ende Tabelle */



			